@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
   
:root {
    --fonte-destaque: 'Bebas Neue';
    --fonte-padr達o: 'Open Sans', Arial, Helvetica, sans-serif;
        }

body {
    background-color: white;
    font-family:  var(--fonte-padr達o);
    margin: 0;
}

header {
    background-color: #292929;
    color: white;
    text-shadow: 1px 1px 1px grey;
    padding: 10px;
    margin-bottom: 40px;
}

header > h1 {
    font-family: var(--fonte-destaque);
    font-size: 1.8em;
    font-style: italic;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin: 0;
    
}

nav {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-family: var(--fonte-padr達o);
    font-size: 0.9em;
    color: white;
    padding: 10px;
    text-shadow: 1px 1px 1px grey;
    }

    

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    transition-duration: 0.5s;
}

.link-atual {
    background-color: #29B8E2;
    border-radius: 5px;
    }

nav a:hover {
    background-color: #F0615C;
    border-radius: 5px;
    box-shadow: 0px 0px 5px white;
}

main {
    background-color: white;
    min-width: 280px;
    max-width: 1000px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
                
}

div {
    display: inline-block;
    margin: 0px;
    border: 0px;
    vertical-align: top;
    padding: 0px;
}

.imagem {
    padding: 20px 10px 20px 20px; 
    
}

.infos {
    min-width: 270px;
    max-width: 445px;
    padding: 20px 10px 0px 10px;
}

.capa {
    box-shadow: 2px 2px 10px black;
}

.infos > h1 {
    margin: 0px;
    padding: 0px;
    
}

audio {
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    font-size: 1em;
    background-color: white;
    width: fit-content;
    padding: 2px 10px;
    border-radius: 4px 0px 4px 0px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.092);
   
}

main > p {
    text-align: left;
}

.main-text {
    text-align: left;
    font-size: 0.8em;
    font-weight: lighter;
}

.links {
    display: block;
    background-color: white;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    padding: 5px 3px 5px 3px;
    font-size: 0.8em;
    color: black;
    font-weight: lighter;
    min-width: 270px;
    max-width: 994px;
    margin: auto;
    
}

.links > a {
    text-decoration: none;
    color: white;
    margin-left: 30px;
    font-weight: bold;
}

.links > a:hover {
    text-decoration: underline;
}

footer {
    background-color: #292929;
    font-family: var(--fonte-padr達o);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
    margin-top: 40px;
}

footer > p {
    margin: 0;
}