@charset "UFT-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@font-face {
    font-family: 'Game Over';
    src: url(fonts/Gameplay.ttf) format('truetype');
}

:root {
    --fonte-destaque: 'Bebas Neue';
    --fonte-título: 'Game Over';
    --fonte-padrão: 'Open Sans', Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fonte-padrão);
    background-color: #85def21b;
}

header {
    background-color: #292929;
    min-height: 120px;
    color: white;
    text-shadow: 1px 1px 1px grey;
    padding: 10px;
    margin-bottom: 40px;
}

header>h1 {
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-style: italic;
    display: inline-block;
    vertical-align: middle;
    text-align: center;

}

nav {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-family: var(--fonte-padrão);
    font-size: 0.9em;
    color: white;
    padding: 10px;
    text-shadow: 1px 1px 1px grey;
}



nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    transition-duration: 0.5s;
}

.link-atual {
    background-color: #29B8E2;
    border-radius: 5px;
}

nav a:hover {
    background-color: #F0615C;
    border-radius: 5px;
    box-shadow: 0px 0px 5px white;
}

main {
    margin: auto;
    background-color: #FFFFFF;
    min-width: 250px;
    max-width: 970px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
    padding: 30px 30px 30px 30px;



}

main>h1 {
    font-family: var(--fonte-título);
    font-weight: lighter;
    font-size: 1.5em;
    color: white;
    border-radius: 10px 10px 0px 0px;
    background-color: #292929d5;
    padding: 10px;
    margin: -30px -30px 0px -30px;
}

main>p {
    margin-bottom: 10px;
    line-height: 1.8em;
    text-align: justify;
}

strong {
    background-color: #29b7e277;
    padding: 0px 5px 0px 5px;
    color: #292929d5;

}

img {
    margin: 10px 10px 10px 10px;
    box-shadow: 0px 0px 5px black;
    transition-duration: 0.5s;

}

img:hover {
    box-shadow: 0px 0px 0px 5px #F0615C;

}

footer {
    background-color: #292929;
    font-family: var(--fonte-padrão);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
    margin-top: 40px;
}